In [2]:
import numpy as np
import numpy_financial as npf
import matplotlib.pyplot as plt
import pandas as pd
import datetime as datetime
import matplotlib.dates as mdates
import requests
import money_machine as mm

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
sp500_df, shiller_data = mm.get_datasets()

In [5]:
sp500_df.loc['3-2000','PE']

28.31

In [5]:
mm.calcJBW(sp500_df,3,2000)
# mm.calcJBW(sp500_df,7,2023)

AttributeError: module 'money_machine' has no attribute 'calcJBW'

In [205]:
# tracker_df = pd.DataFrame({'Month':[1,2,3,4,5,6,7],
#                            'Year':[2023,2023,2023,2023,2023,2023,2023]})

# tracker_df = pd.DataFrame({'Month':[6,7,8,9,10,11,12],
#                            'Year':[2022,2022,2022,2022,2022,2022,2022]})

# FINANCIAL CRISIS OF 2007-08
# tracker_df = pd.DataFrame({'Month':[6,7,8,9,10,11,12],
#                            'Year':[2008,2008,2008,2008,2008,2008,2008]})

tracker_df = pd.DataFrame({'Month':[1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4],
                           'Year':[2007,2007,2007,2007,2007,2007,2007,2007,2007,2007,2007,2007,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008,2009,2009,2009,2009]})

In [206]:
tracker_df['JBW'] = tracker_df.apply(lambda x: mm.calcJBW(sp500_df,x.Month, x.Year), axis=1)
# df['col_3'] = df.apply(lambda x: f(x.col_1, x.col_2), axis=1)

In [207]:
pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', None)

In [208]:
tracker_df

,Month,Year,JBW
0,1,2007,Growth 0.0676 is larger than TsyYield of 0.0476; Diff is 0.0200; May be OK to enter market!
1,2,2007,Growth 0.0675 is larger than TsyYield of 0.0472; Diff is 0.0203; May be OK to enter market!
2,3,2007,Growth 0.0681 is larger than TsyYield of 0.0456; Diff is 0.0225; May be OK to enter market!
3,4,2007,Growth 0.0676 is larger than TsyYield of 0.0469; Diff is 0.0207; May be OK to enter market!
4,5,2007,Growth 0.0672 is larger than TsyYield of 0.0475; Diff is 0.0197; May be OK to enter market!
5,6,2007,Growth 0.0673 is larger than TsyYield of 0.0510; Diff is 0.0163; May be OK to enter market!
6,7,2007,Growth 0.0674 is larger than TsyYield of 0.0500; Diff is 0.0174; May be OK to enter market!
7,8,2007,Growth 0.0684 is larger than TsyYield of 0.0467; Diff is 0.0217; May be OK to enter market!
8,9,2007,Growth 0.0680 is larger than TsyYield of 0.0452; Diff is 0.0228; May be OK to enter market!
9,10,2007,Growth 0.0677 is larger than TsyYield of 0.0453; Diff is 0.0224; May be OK to enter market!
10,11,2007,Growth 0.0688 is larger than TsyYield of 0.0415; Diff is 0.0273; May be OK to enter market!
11,12,2007,Growth 0.0687 is larger than TsyYield of 0.0410; Diff is 0.0277; May be OK to enter market!
12,1,2008,Growth 0.0703 is larger than TsyYield of 0.0374; Diff is 0.0329; May be OK to enter market!
13,2,2008,Growth 0.0707 is larger than TsyYield of 0.0374; Diff is 0.0333; May be OK to enter market!
14,3,2008,Growth 0.0715 is larger than TsyYield of 0.0351; Diff is 0.0364; May be OK to enter market!
15,4,2008,Growth 0.0708 is larger than TsyYield of 0.0367; Diff is 0.0341; May be OK to enter market!
16,5,2008,Growth 0.0704 is larger than TsyYield of 0.0388; Diff is 0.0316; May be OK to enter market!
17,6,2008,Growth 0.0714 is larger than TsyYield of 0.0410; Diff is 0.0304; May be OK to enter market!
18,7,2008,Growth 0.0729 is larger than TsyYield of 0.0401; Diff is 0.0328; May be OK to enter market!
19,8,2008,Growth 0.0725 is larger than TsyYield of 0.0389; Diff is 0.0336; May be OK to enter market!
20,9,2008,Growth 0.0737 is larger than TsyYield of 0.0369; Diff is 0.0368; May be OK to enter market!
21,10,2008,Growth 0.0796 is larger than TsyYield of 0.0381; Diff is 0.0415; May be OK to enter market!
22,11,2008,Growth 0.0823 is larger than TsyYield of 0.0353; Diff is 0.0470; May be OK to enter market!
23,12,2008,Growth 0.0823 is larger than TsyYield of 0.0242; Diff is 0.0581; May be OK to enter market!
24,1,2009,Growth 0.0824 is larger than TsyYield of 0.0252; Diff is 0.0572; May be OK to enter market!
25,2,2009,Growth 0.0843 is larger than TsyYield of 0.0287; Diff is 0.0556; May be OK to enter market!
26,3,2009,Growth 0.0860 is larger than TsyYield of 0.0282; Diff is 0.0578; May be OK to enter market!
27,4,2009,Growth 0.0815 is larger than TsyYield of 0.0293; Diff is 0.0522; May be OK to enter market!

In [227]:
jj = mm.calcBogle(sp500_df,3,2000,['Pessimistic','Historical','Optimistic','Delirious'],[10,15,35,60])

PE on 3-2000 is: 28.31

In [99]:
mm.calcBogle(sp500_df,8,2016,['Historical','Small Drop','Unchanged','Optimistic'],[15,20,24,30])

PE on 8-2016 is: 24.57

,Scenario,PE in 10 years,PE Growth,TotalReturn,TsyYield,TotReturn - TsyYield
0,Historical,15,-0.048150,0.022550,0.0156,0.006950
1,Small Drop,20,-0.020369,0.050331,0.0156,0.034731
2,Unchanged,24,-0.002344,0.068356,0.0156,0.052756
3,Optimistic,30,0.020168,0.090868,0.0156,0.075268

In [244]:
mm.calcBogle(sp500_df,6,2023,['Historical','Small Drop','Unchanged','Optimistic'],[15,20,25,30])

PE on 6-2023 is: 25.15

,Scenario,PE in 10 years,PE Growth,TotalReturn,TsyYield,TotReturn - TsyYield
0,Historical,15,-0.050368,0.015432,0.0375,-0.022068
1,Small Drop,20,-0.022652,0.043148,0.0375,0.005648
2,Unchanged,25,-0.000598,0.065202,0.0375,0.027702
3,Optimistic,30,0.017790,0.083590,0.0375,0.046090

In [13]:
# JBW shows that nice attractive spread in Dec 2008 so good time to be in the market!
mm.calcJBWSP500(sp500_df,12,2008)

   DivYield  Total Return  10-yr Tsy Rate  Tot Return - 10yr Tsy
0    0.0323        0.0823          0.0242                 0.0581

In [245]:
# WARNING: Don't use Bogle during the Financial crisis of 2007/8 as the PEs skyrocketed
# because investors thought issues were short-lived, so Prices remained elevated as
# Earnings dropped
mm.calcBogle(sp500_df,12,2008,['Historical','Small Drop','Unchanged','Optimistic'],[15,20,24,30])

PE on 12-2008 is: 58.98

,Scenario,PE in 10 years,PE Growth,TotalReturn,TsyYield,TotReturn - TsyYield
0,Historical,15,-0.127955,-0.045655,0.0242,-0.069855
1,Small Drop,20,-0.102504,-0.020204,0.0242,-0.044404
2,Unchanged,24,-0.085991,-0.003691,0.0242,-0.027891
3,Optimistic,30,-0.065366,0.016934,0.0242,-0.007266

In [299]:
shiller_data = mm.get_data_from_shiller()

In [300]:
shiller_data

,s&p comp price,s&p comp div,s&p comp earnings,CPI,date fraction,int rate GS10,real price,real div,real total ret price,real earnings,real tr scaled earnings,CAPE
date,,,,,,,,,,,,
1871.01,4.440000,0.26,0.40,12.464061,1871.041667,5.320000,108.541508,6.356034,1.085415e+02,9.772385,9.772385,NaN
1871.02,4.500000,0.26,0.40,12.844641,1871.125000,5.323333,106.748796,6.167708,1.072628e+02,9.488782,9.534469,NaN
1871.03,4.610000,0.26,0.40,13.034972,1871.208333,5.326667,107.761414,6.077650,1.087892e+02,9.350231,9.439408,NaN
1871.04,4.740000,0.26,0.40,12.559226,1871.291667,5.330000,114.997369,6.307873,1.166248e+02,9.704419,9.841756,NaN
1871.05,4.860000,0.26,0.40,12.273812,1871.375000,5.333333,120.650541,6.454556,1.229035e+02,9.930086,10.115513,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2023.03,3968.559130,68.21,175.17,301.675000,2023.208333,3.660000,4008.353251,68.893965,2.617940e+06,176.926490,115554.412083,27.953041
2023.04,4121.467368,NaN,NaN,303.363000,2023.291667,3.460000,4139.631752,NaN,2.703681e+06,NaN,NaN,28.764684
2023.05,4146.173182,NaN,NaN,304.127000,2023.375000,3.570000,4153.984909,NaN,2.713055e+06,NaN,NaN,28.818017
2023.06,4345.372857,NaN,NaN,304.509000,2023.458333,3.750000,4348.098446,NaN,2.839835e+06,NaN,NaN,30.117574
2023.07,4455.590000,NaN,NaN,304.700000,2023.541667,3.810000,4455.590000,NaN,2.910040e+06,NaN,NaN,30.815259

In [11]:
mm.calcShillerCAEP(shiller_data,8,2016)

Using 2.5% as long run inflation rate; may not apply now!

        CAPE     CAEP  TSY RATE  REAL TSY RATE  TOT RET
0  26.948872  3.71073      1.56          -0.94  4.65073

## AAPL Analysis

In [41]:
aapl = mm.get_ticker('AAPL')

In [42]:
mm.calcJBWSP500(sp500_df,8,2023)

   DivYield  Total Return  10-yr Tsy Rate  Tot Return - 10yr Tsy
0    0.0151        0.0651          0.0405                 0.0246

In [79]:
mm.calcJBWforTikr(aapl,.0405,.1)

   DivYield  Total Return  10-yr Tsy Rate  Tot Return - 10yr Tsy
0    0.0053        0.1053          0.0405                 0.0648

In [44]:
aapl.info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '408 996 1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorDisp': 'Технологии',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 164000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 61,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'totalPay': 16425933,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 59,
   'title': 'CFO & Sr. VP',
   'yearBorn': 1963,
   'fiscalYear': 2022,
   'totalPay': 5019783,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 58,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2022,
   'totalPay': 5018337,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 58,
   'title': 'Sr. VP, Gen. Counsel & Sec.',
   'yearBorn': 1964,
   'fiscalYear': 2022,
   'totalPay': 5015208,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 55,
   'title': 'Sr. VP of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 5019783,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Sr. Director of Corp. Accounting',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James  Wilson',
   'title': 'Chief Technology Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Mary  Demby',
   'title': 'Chief Information Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Nancy  Paxton',
   'title': 'Sr. Director of Investor Relations & Treasury',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Sr. VP of Worldwide Marketing',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 4,
 'boardRisk': 1,
 'compensationRisk': 5,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1690848000,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 181.99,
 'open': 182.13,
 'dayLow': 177.36,
 'dayHigh': 183.13,
 'regularMarketPreviousClose': 181.99,
 'regularMarketOpen': 182.13,
 'regularMarketDayLow': 177.36,
 'regularMarketDayHigh': 183.13,
 'dividendRate': 0.96,
 'dividendYield': 0.0053,
 'exDividendDate': 1683849600,
 'payoutRatio': 0.156,
 'fiveYearAvgDividendYield': 0.87,
 'beta': 1.286802,
 'trailingPE': 30.365026,
 'forwardPE': 27.139606,
 'volume': 97263524,
 'regularMarketVolume': 97263524,
 'averageVolume': 55973159,
 'averageVolume10days': 52730790,
 'averageDailyVolume10Day': 52730790,
 'bid': 179.1,
 'ask': 179.15,
 'bidSize': 1300,
 'askSize': 1000,
 'marketCap': 2813078274048,
 'fiftyTwoWeekLow': 124.17,
 'fiftyTwoWeekHigh': 198.23,
 'priceToSalesTrailing12Months': 7.3270035,
 'fiftyDayAverage': 187.0868,
 'twoHundredDayAverage': 160.0134,
 'trailingAnnualDividendRate': 0.93,
 'trailingAnnualDividendYield': 0.0051101707,
 'currency': 'USD',
 'enterpriseValue': 2892071960576,
 'profitMargins': 0.24681,
 'floatShares': 15617347029,
 'sharesOutstanding': 15728700416,
 'sharesShort': 126626604,
 'sharesShortPriorMonth': 121254451,
 'sharesShortPreviousMonthDate': 1686787200,
 'dateShortInterest': 1689292800,
 'sharesPercentSharesOut': 0.0081,
 'heldPercentInsiders': 0.00071999995,
 'heldPercentInstitutions': 0.61317,
 'shortRatio': 2.35,
 'shortPercentOfFloat': 0.0081,
 'impliedSharesOutstanding': 15728700416,
 'bookValue': 3.852,
 'priceToBook': 46.430428,
 'lastFiscalYearEnd': 1663977600,
 'nextFiscalYearEnd': 1695513600,
 'mostRecentQuarter': 1688169600,
 'earningsQuarterlyGrowth': 0.023,
 'netIncomeToCommon': 94760001536,
 'trailingEps': 5.89,
 'forwardEps': 6.59,
 'pegRatio': 4.06,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 7.533,
 'enterpriseToEbitda': 23.331,
 '52WeekChange': 0.1038394,
 'SandP52WeekChange': 0.081634045,
 'lastDividendValue': 0.24,
 'lastDividendDate': 1683849600,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 178.85,
 'targetHighPrice': 240.0,
 'targetLowPrice': 140.0,
 'targetMeanPrice': 196.43,
 'targetMedianPrice': 195.0,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 40,
 'totalCash': 62482001920,
 'totalCashPerShare': 3.996,
 'ebitda': 123957002240,
 'totalDebt': 109280002048,
 'quickRatio': 0.814,
 'currentRatio': 0.982,
 'totalRevenue': 383932989440,
 'debtToEquity': 181.305,
 'revenuePerShare': 24.22,
 'returnOnAssets': 0.20896,
 'returnOnEquity': 1.60093,
 'grossProfits': 170782000000,
 'freeCashflow': 90680500224,
 'operatingCashflow': 113071996928,
 'earningsGrowth': 0.05,
 'revenueGrowth': -0.014,
 'grossMargins': 0.43449003,
 'ebitdaMargins': 0.32286,
 'operatingMargins': 0.29231,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.4958}

In [45]:
aapl.info['currentPrice']

178.85

In [80]:
# Can put in different growth rates for n number of years and then have rate fall back
# and then use latest stock price to see if return is what I want...
mm.calcIRRforTikr(aapl, .1, 20, .05)

Current Price is: 178.85
Returning result as %

5.485306135406476

In [47]:
mm.calcJBWFromShareholderYield(6.38, .0198)

160.30150753768842

In [57]:
sp500_df.iloc[0,2]

0.0405

In [111]:
mm.calcBogleForStock(aapl,sp500_df.iloc[0,2],[.05, .10, .05, .10],[30, 30, 20, 20] )

Current P/E is 30.365026

,Earnings Growth %,PE in 10 years,PE Growth %,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,30,-0.001209,0.054091,0.0405,0.013591
1,0.10,30,-0.001209,0.104091,0.0405,0.063591
2,0.05,20,-0.040896,0.014404,0.0405,-0.026096
3,0.10,20,-0.040896,0.064404,0.0405,0.023904

In [110]:
mm.calcBogle(sp500_df,8,2023)

Assuming long-run growth of earnings of 5%
PE on 8-2023 is: 25.95

,Earnings Growth %,PE in 10 years,PE Growth,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,10,-0.090953,-0.025853,0.0405,-0.066353
1,0.05,15,-0.053337,0.011763,0.0405,-0.028737
2,0.05,20,-0.025708,0.039392,0.0405,-0.001108
3,0.05,25,-0.003723,0.061377,0.0405,0.020877
4,0.05,30,0.014608,0.079708,0.0405,0.039208

## GOOGLE Analysis
Google doesn't pay a dividend so can't use JBW equation, nor the IRR methods

In [81]:
goog = mm.get_ticker('GOOG')

In [112]:
# Look in annual report to get dividends + repurchase amount for last year (from cashflows)
# In 2022, dividends=0, and repurchases amounted to 59,296 MM
# Look in annual report to get total # of shares and then divide
# In 2022, it was 6922+924+6819 = 14,665MM shares = 14,665,000,000
# Get 30-year TIPS rate

# Doing this calc on 9-Aug-2023
mm.calcJBWFromShareholderYield(4.04, .0189, .04,.02)

103.85604113110539

In [85]:
59296000000/14665000000

4.043368564609615

In [97]:
goog.info['currentPrice']

130.15

In [109]:
mm.calcBogleForStock(goog,sp500_df.iloc[0,2], [.05, .10, .05, .10],[30, 30, 20, 20] )

Current P/E is 29.646925

,Earnings Growth %,PE in 10 years,PE Growth %,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,30,0.001185,0.051185,0.0405,0.010685
1,0.10,30,0.001185,0.101185,0.0405,0.060685
2,0.05,20,-0.038598,0.011402,0.0405,-0.029098
3,0.10,20,-0.038598,0.061402,0.0405,0.020902

In [108]:
mm.calcBogle(sp500_df,8,2023)

Assuming long-run growth of earnings of 5%
PE on 8-2023 is: 25.95

,Earnings Growth %,PE in 10 years,PE Growth,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,10,-0.090953,-0.025853,0.0405,-0.066353
1,0.05,15,-0.053337,0.011763,0.0405,-0.028737
2,0.05,20,-0.025708,0.039392,0.0405,-0.001108
3,0.05,25,-0.003723,0.061377,0.0405,0.020877
4,0.05,30,0.014608,0.079708,0.0405,0.039208

## Amazon Analysis
Amazon doesn't pay a dividend so can't use JBW equation, nor the IRR methods

In [8]:
amzn = mm.get_ticker('AMZN')

In [9]:
6000000000/10189000000

0.5888703503778585

In [10]:
# Look in annual report to get dividends + repurchase amount for last year (from cashflows)
# In 2022, dividends=0, and repurchases amounted to 6,000 MM
# Look in annual report to get total # of shares and then divide
# In 2022, it was 10,189MM shares = 10,189,000,000
# this amounts to .589 cents / share

# Doing this calc on 9-Aug-2023
# Get 30-year TIPS rate: .0189

mm.calcJBWFromShareholderYield(.589, .0189)

# this gives me a weird result; not sure what's wrong...

15.141388174807195

In [14]:
mm.calcBogleForStock(amzn,sp500_df.iloc[0,2], [.05, .10, .15, .10],[328, 328, 50, 20] )

Current P/E is 329.54764

,Earnings Growth %,PE in 10 years,PE Growth %,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,328,-0.000471,0.049529,0.0405,0.009029
1,0.10,328,-0.000471,0.099529,0.0405,0.059029
2,0.15,50,-0.171857,-0.021857,0.0405,-0.062357
3,0.10,20,-0.244367,-0.144367,0.0405,-0.184867

In [6]:
mm.calcBogle(sp500_df,8,2023)

Assuming long-run growth of earnings of 5%
PE on 8-2023 is: 25.95

,Earnings Growth %,PE in 10 years,PE Growth,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,10,-0.090953,-0.025853,0.0405,-0.066353
1,0.05,15,-0.053337,0.011763,0.0405,-0.028737
2,0.05,20,-0.025708,0.039392,0.0405,-0.001108
3,0.05,25,-0.003723,0.061377,0.0405,0.020877
4,0.05,30,0.014608,0.079708,0.0405,0.039208

## Microsoft Analysis

In [15]:
msft = mm.get_ticker('MSFT')

In [16]:
mm.calcJBWSP500(sp500_df,8,2023)

   DivYield  Total Return  10-yr Tsy Rate  Tot Return - 10yr Tsy
0    0.0151        0.0651          0.0405                 0.0246

In [43]:
mm.calcJBWforTikr(msft,.0405,.1)

   DivYield  Total Return  10-yr Tsy Rate  Tot Return - 10yr Tsy
0    0.0084        0.1084          0.0405                 0.0679

In [46]:
# Can put in different growth rates for n number of years and then have rate fall back
# and then use latest stock price to see if return is what I want...
mm.calcIRRforTikr(msft, .12, 10, .05)

Current Price is: 321.01
Returning result as %

6.003988176596997

In [23]:
# help(mm.calcJBWFromShareholderYield)

Help on function calcJBWFromShareholderYield in module money_machine:

calcJBWFromShareholderYield(d_per_share, tips_yield, risk_premium=0.04, g=0.02)
    JBW Variation using Shareholder Yield:
    Add Dividends + Repurchases and calc V = D /(R-g)
    where R = Current 30-year TIPS Yield + Risk_Premium_I_Desire & g = long-term-growth rate (~.02)
    d_per_share represents (dividends + shareholder buybacks) / # of shares outstanding

In [25]:
# In 2023, MSFT spent 18.4 BN on share repurchases & 20.2 BN on dividends
# outstanding shares diluted = 7,472,000,000
(18400000000+20200000000)/(7472000000)
# 5.17 per share

5.165952890792291

In [35]:
mm.calcJBWFromShareholderYield(5.17, .0196, .04, .02)

130.55555555555557

In [44]:
mm.calcBogleForStock(msft,sp500_df.iloc[0,2],[.05, .10, .05, .10],[34, 30, 20, 15] )

Current P/E is 34.778984

,Earnings Growth %,PE in 10 years,PE Growth %,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,34,-0.002263,0.056137,0.0405,0.015637
1,0.10,30,-0.014673,0.093727,0.0405,0.053227
2,0.05,20,-0.053825,0.004575,0.0405,-0.035925
3,0.10,15,-0.080657,0.027743,0.0405,-0.012757

In [41]:
mm.calcBogle(sp500_df,8,2023,[30,25.95,20,15])

Assuming long-run growth of earnings of 5%
PE on 8-2023 is: 25.95

,Earnings Growth %,PE in 10 years,PE Growth,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,30.00,0.014608,0.079708,0.0405,0.039208
1,0.05,25.95,0.000000,0.065100,0.0405,0.024600
2,0.05,20.00,-0.025708,0.039392,0.0405,-0.001108
3,0.05,15.00,-0.053337,0.011763,0.0405,-0.028737

## META Analysis
Meta doesn't pay a dividend so can't use JBW equation, nor the IRR methods

In [50]:
meta = mm.get_ticker('META')

In [51]:
mm.calcJBWSP500(sp500_df,8,2023)

   DivYield  Total Return  10-yr Tsy Rate  Tot Return - 10yr Tsy
0    0.0151        0.0651          0.0405                 0.0246

In [54]:
mm.calcJBWforTikr(meta,.0405,.1)

No dividend for yfinance.Ticker object <META>

In [55]:
# In 2023, META spent 27.96 BN on share repurchases & 0 BN on dividends
# outstanding shares diluted = 2,702,000,000
(27960000000+0)/(2702000000)
# 10.35 per share

10.347890451517394

In [56]:
mm.calcJBWFromShareholderYield(10.35, .0196, .04, .02)

261.3636363636364

In [58]:
mm.calcBogleForStock(meta,sp500_df.iloc[0,2],[.05, .10, .05, .10],[39, 30, 20, 15] )

Current P/E is 39.12322

,Earnings Growth %,PE in 10 years,PE Growth %,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,39,-0.000315,0.049685,0.0405,0.009185
1,0.10,30,-0.026202,0.073798,0.0405,0.033298
2,0.05,20,-0.064897,-0.014897,0.0405,-0.055397
3,0.10,15,-0.091415,0.008585,0.0405,-0.031915

In [59]:
# take market value; double it; what would earnings have to be to support the double valuaton
# mkt value now = 776BN
# double = 1552 BN
1552/#shares = price
1552/#shares/E = 40

1552

In [60]:
1552000000000/40
# 38,800MM = 38.8 BN would have to be earnings

38800000000.0

## NFLX Analysis
Netflix doesn't pay a dividend so can't use JBW equation, nor the IRR methods

In [61]:
nflx = mm.get_ticker('NFLX')

In [62]:
mm.calcJBWSP500(sp500_df,8,2023)

   DivYield  Total Return  10-yr Tsy Rate  Tot Return - 10yr Tsy
0    0.0151        0.0651          0.0405                 0.0246

In [63]:
mm.calcJBWforTikr(nflx,.0405,.1)

No dividend for yfinance.Ticker object <NFLX>

In [ ]:
# In 2023, NFLX spent 0 BN on share repurchases & 0 BN on dividends
# outstanding shares diluted = ??
(0+0)/(??)
# 0 per share

In [65]:
mm.calcJBWFromShareholderYield(0, .0196, .04, .02)

0.0

In [68]:
mm.calcBogleForStock(nflx,sp500_df.iloc[0,2],[.05, .10, .05, .10],[49, 49, 20, 15] )

Current P/E is 49.20187

,Earnings Growth %,PE in 10 years,PE Growth %,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,49,-0.000411,0.049589,0.0405,0.009089
1,0.10,49,-0.000411,0.099589,0.0405,0.059089
2,0.05,20,-0.086087,-0.036087,0.0405,-0.076587
3,0.10,15,-0.112004,-0.012004,0.0405,-0.052504

In [67]:
mm.calcBogle(sp500_df,8,2023,[30,25.95,20,15])

Assuming long-run growth of earnings of 5%
PE on 8-2023 is: 25.95

,Earnings Growth %,PE in 10 years,PE Growth,TotalReturn,TsyYield,TotReturn - TsyYield
0,0.05,30.00,0.014608,0.079708,0.0405,0.039208
1,0.05,25.95,0.000000,0.065100,0.0405,0.024600
2,0.05,20.00,-0.025708,0.039392,0.0405,-0.001108
3,0.05,15.00,-0.053337,0.011763,0.0405,-0.028737